<header class="container-header-status">
  <div class="status-header-card">
    <app-dashboard-status-card
      [icon]="'coronavirus'"
      [count]="todayCases"
      [label]="'Today Cases'"
    ></app-dashboard-status-card>
  </div>
  <div class="status-header-card">
    <app-dashboard-status-card
      [icon]="'sick'"
      [count]="todayDeaths"
      [label]="'Today Deaths'"
    ></app-dashboard-status-card>
  </div>
  <div class="status-header-card">
    <app-dashboard-status-card
      [icon]="'favorite'"
      [count]="todayRecovereds"
      [label]="'Today Recovered'"
    ></app-dashboard-status-card>
  </div>
  <div class="status-header-card">
    <app-dashboard-status-card
      [icon]="'public'"
      [count]="countriesMap.size"
      [label]="'Total Contries'"
    ></app-dashboard-status-card>
  </div>
</header>

<main class="container-main-status">
  <ng-container *ngIf="isLoading" ; else dashboardData>
    <mat-progress-spinner class="example-margin" mode="indeterminate">
    </mat-progress-spinner>
  </ng-container>
  <ng-container #dashboardData>
    <mat-card class="status-main-card" *ngFor="let item of cards">
      <mat-card-header class="mat-card-header">
        <mat-card-title  class="mat-card-title">
          <div mat-card-avatar>
            <mat-icon class="icon-lg" color="primary">{{ item.icon }}</mat-icon>
          </div>
          <h5>{{ item.name }}</h5>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-list role="list" *ngFor="let item of item.description; index as i">
          <mat-list-item role="listitem">
            <div class="flex-container">
              <span class="item-flex">{{ i + 1 + "° " + item.country }}</span>
              <span class="item-flex"><strong>{{ item.cases }}</strong></span>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-button
          color="primary"
          routerLink="/covid-reports"
          routerLinkActivate="active"
          ariaCurrentWhenActive="page"
        >
          View Details
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</main>
